* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    background: #000;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #fff;
}
#nav {
    background: linear-gradient(to bottom, #000000 50%,#1d1d1d 97%,#333333 97%);
    width: 100%;
    height: 61px;
    overflow: hidden;
}

#logo {
    height: 61px;
    float: left;
    margin-left: 10px;
}

#container3D {
    width: 100%;
    height: 100%;
    cursor: grab;
}

#container3D:active {
    cursor: grabbing;
}


#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.loading-spin {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    color: #fff;
}

.loading-spin::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border: 5px solid #fff;
    border-top: 5px solid #000;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#color-select {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 300px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px 10px;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #fff;
}
.color-option:hover {
    border: 2px solid #fff;
    opacity: 0.8;
}